# udp_rx systemd service file

[Unit]
Description=udp_rx udp tunnel
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=udprx
Group=udprx
ExecStartPre=/etc/udp_rx/set_firewall
ExecStart=/usr/sbin/udp_rx
ExecStartPost=/etc/udp_rx/set_firewall -unset
TimeoutSec=600
Restart=on-failure